<!DOCTYPE html>
<html>
<head>
    <title>User Account - LibAlpha</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">

</head>
<body>
        <div class="content">
            <div class="header">
                <h1>Welcome to LibAlpha</h1>
                <p>Your one-stop library for books and more!</p>
            </div>
        
            <div class="nav-bar">
                <a href="home.html">Home</a>
                <a href="browse.html">Search & Browse Books</a>
                <a href="account.html">User Account</a>
                <a href="requests.html">Book Requests</a>
                <a href="events.html">Events</a>
            </div>

        <!-- User Greeting -->
        <div id="userGreeting" class="user-greeting">
            <!-- Username will be dynamically inserted here -->
        </div>

        <!-- Login and Signup Forms -->
        <div class="account-forms" style="padding: 20px;">
            <div class="login-form">
                <h2>Login</h2>
                <form id="loginForm">
                    <input type="text" placeholder="Username" name="username" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <button type="submit">Login</button>
                </form>
            </div>

            <div class="signup-form">
                <h2>Sign Up</h2>
                <form id="signupForm">
                    <input type="text" placeholder="Username" name="newUsername" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <input type="password" placeholder="Password" name="newPassword" required>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
<footer>
    <p>Project by Alex Fritz, Althea Pamintawan, Sanjay DK, Victor Qiu</p>
    <p>Database Management, Fall 2023 - University of Georgia ©</p>
</footer>

    <script src="script.js"></script>
</body>
</html>
