<!DOCTYPE html>
<html>
<head>
    <title>Search and Browse Books</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">



</head>
<body>
    <div class="content">
    <div class="header">
        <h1>Welcome to LibAlpha</h1>
        <p>Your one-stop library for books and more!</p>
    </div>

    <div class="nav-bar">
        <a href="home.html">Home</a>
        <a href="browse.html">Search & Browse Books</a>
        <a href="account.html">User Account</a>
        <a href="requests.html">Book Requests</a>
        <a href="events.html">Events</a>
    </div>

    <div class="search-container">
        <form id="searchForm">
            <input type="text" placeholder="Enter a title or ISBN" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div id="searchResults">
        <!-- Search results will be displayed here -->
    </div>

    <script src="script.js"></script>
</div>
<!-- Footer Section -->
<footer>
    <p>Project by Alex Fritz, Althea Pamintawan, Sanjay DK, Victor Qiu</p>
    <p>Database Management, Fall 2023 - University of Georgia ©</p>
</footer>

<script src="script.js"></script>

</body>
</html>