<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
</head>
    <body>
        <h2>Login Page</h2>
        <body>Enter your UserID and Username to sign into the website</body>
        <form action="/dynamic/submitform" method="POST">
            <input type="text" name="userID"/>
            <input type="text" name="username"/>
            <input type="submit" value="Sign In / Sign Up"/>
        </form>
    </body>
</html>
