<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
</head>
    <body>
        <h2>Movies</h2>

        <table>
            <tr>
                <th>movieID</th>
                <th>movieTitle</th>
                <th>movieYear</th>
            </tr>
            {{#movie}}
                <tr>
                    <td>{{ID}}</td>
                    <td>{{title}}</td>
                    <td>{{year}}</td>
                </tr>
            {{/movie}}
        </table>
        <form action="/dynamic/submitform" method="POST">
            <input type="text" name="title"/>
            <input type="text" name="author"/>
            <input type="text" name="year"/>
            <input type="submit"/>
        </form>
    </body>
</html>
