<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
</head>
    <body>
        <h2>Movies</h2>

        <table>
            <tr>
                <th>movieID</th>
                <th>movieTitle</th>
                <th>movieYear</th>
            </tr>
            {{#movie}}
                <tr>
                    <td>{{ID}}</td>
                    <td>{{title}}</td>
                    <td>{{year}}</td>
                </tr>
            {{/movie}}
        </table>
        <!-- Create a form that submits a POST request to the /genre1 endpoint -->
        <form method="post" action="/dynamic/genre1">
            <button type="submit">Find Sci-Fi Movies</button>
        </form>
        <form method="post" action="/dynamic/genre2">
            <button type="submit">Find Action Movies</button>
        </form>
        <form method="post" action="/dynamic/to-reviews">
            <button type="submit">See All Reviews</button>
        </form>
    </body>
</html>
