<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sci-Fi Movies</title>
</head>
    <body>
        <h2>Sci-Fi Movies</h2>

        <table>
            <tr>
                <th>Movie Titles</th>
                <th>Genre</th>
            </tr>
            {{#movie}}
                <tr>
                    <td>{{movieTitle}}</td>
                    <td>{{genreTitle}}</td>
                </tr>
            {{/movie}}
        </table>
        <form method="post" action="/dynamic/back">
            <button type="submit">Home</button>
        </form>
    </body>
</html>
