<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sci-Fi Movies</title>
    <style>
        /* Add styling for the button */
        .custom-button {
            background-color: #0074d9; /* Change the background color to your preference */
            color: #fff; /* Set the text color to white */
            padding: 10px 10px; /* Adjust the padding for width and height */
            border: none; /* Remove the border */
            border-radius: 5px; /* Apply rounded corners */
            font-size: 16px; /* Adjust the font size */
            cursor: pointer;
        }

        .custom-button:hover {
            background-color: #0056b3; /* Change color on hover */
        }
    </style>
</head>
    <body>

        <h2>{{genreName}}</h2>

        <form method="post" action="/dynamic/back">
            <button type="submit" class="custom-button">Home</button>
        </form>

        <table>
            <tr>
                <th>Movie Titles</th>
                <th>Genre</th>
            </tr>
            {{#movie}}
                <tr>
                    <td>{{movieTitle}}</td>
                    <td>{{genreTitle}}</td>
                </tr>
            {{/movie}}
        </table>

    </body>
</html>
