<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reviews</title>
</head>
    <body>
        <h2>Reviews</h2>

        <table>
            <tr>
                <th>movie</th>
                <th>username</th>
                <th>rating</th>
            </tr>
            {{#reviews}}
                <tr>
                    <td>{{movieTitle}}</td>
                    <td>{{users}}</td>
                    <td>{{rating}}</td>
                </tr>
            {{/reviews}}
        </table>
        <form method="post" action="/dynamic/back">
            <button type="submit">Home</button>
        </form>
    </body>
</html>
